/* Full background image */
html,body {
	height:100%;
}

body {
	font-family: "EB Garamond", sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('bg12a02-2.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Content container centered and readable */
main {
	max-width: 1200px !important;
	margin: 25px auto;
	background: rgba(255, 255, 255, 0.97); /* transparent white box */
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 12px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.8);
	text-align: center;
	opacity: 1;
	transition: opacity 0.5s ease;
	flex: 1;
	position:relative;

}

.mainborder {
	text-align: center;
	width: 50%;
}

main p {
	font-size: 22px;
	line-height: 1.5;
}

.main-intro {
	font-size: 250%;
	font-weight: bold;
}

main.fade-out {
	opacity: 0;
}

#content {
	transition: opacity 0.4s ease;
}

.fade-out {
	opacity: 0;
}

.mainpagebg {
	text-align: center;
	width: 10%;
	height: 10%;
}

.creditsbox {
	width:800px;
	height:200px;
	text-align: left;
	margin:auto;
	padding-bottom:0px;
}

.ytdesc {
	width:1000px;
	height:300px;
	text-align: left;
	margin:auto;
	padding-bottom:20px;
}

.ytthumb {
	width:1000px;
	transition: ease 0.3s;
	margin:auto;
}

.ytthumb:hover {
	width:975px;
}

/* Header */
header {
	background-color: rgba(138, 7, 33, 0.91);
	color: #fff;
	text-align: center;
	padding: 35px 35px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-container {
	align-items: center;
	justify-content: space-between;
	padding: 0 2vw;
	flex-wrap: wrap; /* allows wrapping on smaller screens */
	text-align: center;
}

.header-h1 {
	font-size: clamp(1.2rem, 2vw, 2.4rem); /* scales with screen size */
	margin: 0;
	color: white;
	text-align: center;
	padding: 10px;
}

.header-h2 {
	font-size: clamp(0.7rem, 2vw, 1.4rem); /* scales with screen size */
	margin: 0;
	color: white;
	text-align: center;
	padding: 10px;
}

.logonth {
	width: clamp(80px, 5vw, 100px); /* minimum 50px, scales with viewport, max 90px */
	height: auto;
	margin-right: 15px;
}

.logoweb {
	width: clamp(100px, 20vw, 300px); /* minimum 50px, scales with viewport, max 90px */
	height: auto;
	margin-right: 15px;
}

/* Navigation */
nav {
	background-color: rgba(246, 169, 148, 0.95);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 0;
}

div.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;

}

div.gallery-item {
	margin: 5px;
	border: 1px solid #ccc;
	width: 180px;
	margin: auto;
}

div.gallery-item:hover {
	border: 1px solid #777;
}

div.gallery-item img {
	width: 100%;
	height: auto;
}

div.gallery-item div.desc {
	padding: 15px;
	text-align: center;
}

nav a {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
	padding: 10px;
}

.nav-link {
	transition: 0.5s ease;
}

.nav-link:hover {
	color: #c62828;
	font-size: 15px;
	background-color: rgba(246, 197, 182, 0.95);
	padding: 12px;
}

/* Footer */
footer {
	background-color: rgba(138, 7, 33, 0.91);
	color: white;
	text-align: center;
	padding: 10px 0;
	margin-top: auto;
	font-size: 0.9em;
}

/* Make sure it's nice on smaller screens */
@media (max-width : 900px) {
	main {
		margin: auto;
		margin-top: 30px;
		min-width: 1000px;
		margin-left: 30px;
		margin-right: 30px;
	}


}